language: rust
rust:
  - nightly-2019-05-05
addons:
  apt:
    packages:
      - lftp
cache:
  directories:
    - ${TRAVIS_HOME}/.cargo
before_cache:
  - rm -rf ${TRAVIS_HOME}/.cargo/registry
services: docker
git:
  depth: 1
jobs:
  include:
    - stage: check
      name: Tests
      script: cargo test
    - stage: check
      name : Rustfmt
      install: rustup component add rustfmt
      script: cargo fmt -- --check
#    - stage: check
#      name: Clippy
#      install: rustup component add clippy
#      script: cargo clippy
    - stage: check
      name: Docs
      install: cargo install mdbook --vers 0.2.3 --force
      script: mdbook build docs && ./deploy.init.sh && PROJECT='conference' ./deploy/docs.sh
    - stage: deploy
      name: Kubernetes
      script: ./deploy.init.sh && ./deploy/travis-run.sh
stages:
  - name: check
  - name: deploy
    if: (branch = master AND type = push) OR tag IS present
notifications:
  email: false
