[identity]
label = "conferences"
audience = "example.org"
account_id = "00000000-0000-1070-a000-000000000000"

[backend]
label = "janus-gateway"
audience = "example.org"

[mqtt]
uri = "mqtt://192.168.99.100:1883"