id = "conference.svc.example.org"
backend_id = "janus-gateway.svc.example.org"

[authz."example.net"]
type = "http"
uri = "https://iam.example.net/authz"
algorithm = "ES256"
key = "data/keys/svc.private_key.p8.der.sample"

[authz."svc.example.org"]
type = "local"
trusted = ["cron.svc.example.org"]

[mqtt]
uri = "mqtt://192.168.99.100:1883"
clean_session = false
