[package]
name = "conference"
version = "0.1.0"
authors = ["Andrei Nesterov <ae.nesterov@gmail.com>"]
edition = "2018"

[dependencies]
log = "0.4"
env_logger = "0.6"
config = "0.9"
failure = "0.1"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
base64 = "0.10"
webrtc-sdp = "0.1"
http = "0.1"
rand = "0.6.4"
uuid = { version = "0.6", features = ["v4", "serde"] }
chrono = { version = "0.4", features = ["serde"] }
rumqtt = { version = "0.30" }
crossbeam-channel = "0.3"
itertools = "0.8"
reqwest = "0.9"
diesel = { version = "1.4", features = ["postgres", "uuid", "chrono", "serde_json", "r2d2"] }
svc-authz = "0.1"
svc-authn = { version = "0.1", features = ["jose", "diesel"] }
svc-agent = { version = "0.1", features = ["diesel"] }

[patch.crates-io]
# ES256 support:
# + jsonwebtoken = { git = "https://github.com/manifest/jsonwebtoken", branch = "feature/ec" }
# + ring = "1.14.4"
svc-agent = { git = "https://github.com/netology-group/svc-agent-rs.git", branch = "master" }
# MQTTOptions:
# + https://github.com/manifest/rumqtt/blob/feature/update-tls-deps%2Bdefaults/src/mqttoptions.rs#L116-L131
rumqtt = { git = "https://github.com/manifest/rumqtt.git", branch = "feature/update-tls-deps+defaults" }
