[package]
name = "conference"
version = "0.1.0"
authors = ["Andrei Nesterov <ae.nesterov@gmail.com>"]
edition = "2018"

[dependencies]
log = "0.4"
env_logger = "0.6"
config = "0.9"
failure = "0.1"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
base64 = "0.10"
webrtc-sdp = "0.1"
http = "0.1"
uuid = { version = "0.6", features = ["v4", "serde"] }
chrono = { version = "0.4", features = ["serde"] }
rumqtt = "0.30"
crossbeam-channel = "0.3"
itertools = "0.8"
reqwest = "0.9"
openssl = "*"
diesel = { version = "1.4", features = ["postgres", "uuid", "chrono", "serde_json", "r2d2"] }
svc-agent = { version = "0.6", features = ["diesel"] }
svc-authz = "0.4"
svc-authn = { version = "0.4", features = ["jose", "diesel"] }
svc-error = { version = "0.1", features = ["diesel", "r2d2", "svc-agent", "svc-authn", "svc-authz"] }

[dependencies.futures]
version = "=0.3.0-alpha.14"
package = "futures-preview"

[dependencies.futures-channel]
version = "=0.3.0-alpha.14"
package = "futures-channel-preview"